* {
    font-family: 'Raleway', sans-serif;
    padding-inline-start: 0px;
}

header,footer {
    text-align: center;
    height: 15vh;
    background-color: lightblue;
    border: 3px solid blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    min-height: 68vh;
}

#addtaskssection, .task {
    display: grid;
    margin: 1rem 4rem;
    padding: 1rem;
    background-color: blanchedalmond;
    border: 3px solid lightblue;
}

#addtaskssection {
    grid-template-columns: 10rem 1fr 10rem;
}

#addtaskssection * {
    margin: 1rem;
    line-height: 2rem;
}

.task {
    grid-template-columns: 10rem 1fr 5rem 5rem;
}

.task * {
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 2rem;
}

.task span {
    font-size: 1.25rem;
    padding: .25rem;
}

.task button {
    margin-left: .25rem;
    margin-right: .25rem;
    text-align: center;
    padding: .25rem;
}
